/* ----- Logo Font ----- */
@font-face {
    font-family: "Norse-Bold";
    src: url(/font/Norse-Bold.otf);
}

/* ----- Main Styles ----- */
*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* ----- LEFT SIDE ----- */
.left-container {
    flex: 1;
    background-image: url(/images/bg-photo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-container {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.6);
    z-index: 1;
    top: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 100%;
    width: 80px;
}

.logo-container h2 {
    color: #fff;
    font-size: 5rem;
    letter-spacing: 5px;
    font-family: "Norse-Bold";
    padding-left: 10px;
}

/* ----- RIGHT SIDE ----- */
.right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-info,
.right-form,
.right-create {
    width: 100%;
    flex: 1;
}

.right-info,
.right-create {
    background-color: #E5E7EB;
}

/* Welcome Text section */
.right-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text {
    font-weight: bold;
    font-size: 1.3rem;
    width: 660px;
    margin-left: 40px;
}

.info-text:nth-child(1) {
    margin-bottom: 20px;
}

/* Form section */
.right-form {
    background-color: #fff;
}

.right-form p {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 20px 0;
}

.right-form p,
.form-container {
    margin-left: 40px;
}

.form-container {
    display: flex;
    width: 60%;
}

.form-left {
    flex: 1;
}

input {
    display: block;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
}

label {
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 00;
}

.form-right {
    flex: 1;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 4px 4px 5px rgba(211, 211, 211, 0.4);
}

/* Create Account section */
.btn,
.login-text {
    margin-left: 40px;
}

.btn {
    background-color: #596D48;
    color: #fff;
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: 5px 5px rgba(211, 211, 211, 0.5);
}


.login-text {
    font-weight: bold;
    font-size: 1.rem;
}

.login-text a {
    text-decoration: none;
    color: #596D48;
}

/* Image used from Unsplash - Credit to Halie West https://unsplash.com/@haliewestphoto */