body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-container {
    flex: 1;
    background-image: url(/images/bg-photo.avif);
    background-repeat: no-repeat;
    background-size: contain;
}

.right-container {
    flex: 2;
    background-color: blanchedalmond;
}

/* Image used from Unsplash - Credit to Halie West https://unsplash.com/@haliewestphoto */